html {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

body {
  margin: 0;
  font-size: 1.2em;
  font-family: Tahoma, Geneva, Kalimati, sans-serif;
  color: #3a3a3a;
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.7em;
}

a {
  color: #2980b9;
}
a:hover {
  color: #3a9bdc;
}
.return-link {
  text-decoration: none;
}
.return-link:before {
  content: '← ';
}

#main-header a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.7em solid #2980b9;
  padding: 0.3em 5em;

  font-family: Tahoma, Geneva, Kalimati, sans-serif;
  color: #2980b9;
  text-decoration: none;
}
#main-header a :first-child {
  font-size: 3em;
  font-weight: bold;
}
#main-header a :last-child {
  font-size: 1.7em;
}

#page-content, #post {
  padding: 0.3em 2em;
}

.posts-list {
  list-style-type: none;
  padding-left: 0;
}
.posts-list-item > a {
  display: block;
  border-left: 0.75em solid #2980b9;
  padding: 0.3em 0.5em;
  margin-bottom: 0.2em;
  font-size: 1.5em;
  color: #3a3a3a;
  text-decoration: none;
}
.posts-list-item > a:hover {
  border-color: #27ae60;
}
.posts-list-item h4, .posts-list-item h5 {
  margin: 0 0 0.3em 0;
}
.posts-list-item aside {
  font-size: 0.6em;
}

pre[class*='language-'] > code[data-language] {
  overflow: auto;
}

footer {
  margin: 0 1em;
  padding-top: 0.3em;
  border-top: 0.2em solid #2980b9;
  text-align: center;
}
