html {
  margin: 0;
  padding: 0;
  font-size: 100%;
  background-color: white;
}

body {
  margin: 0;
  font-size: 1.2em;
  font-family: Tahoma, Geneva, Kalimati, sans-serif;
  color: rgb(58, 58, 58);
  line-height: 1.6em;
}

h1 {
  font-size: 2em;
  line-height: 1em;
}
h2 {
  font-size: 1.7em;
}

a {
  color: rgb(41, 128, 185);
}
a:hover {
  color: #3a9bdc;
}
.return-link {
  text-decoration: none;
}
.return-link:before {
  content: '← ';
}

#main-header a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.3em solid rgb(41, 128, 185);
  padding: 0.4em 5em;
  font-family: Tahoma, Geneva, Kalimati, sans-serif;
  color: rgb(41, 128, 185);
  text-decoration: none;
}
#main-header a :first-child {
  font-size: 2em;
  font-weight: bold;
}
#main-header a :last-child {
  font-size: 1.3em;
}

#page-content, #post {
  padding: 0.3em 2em;
}

.posts-list {
  list-style-type: none;
  padding-left: 0;
}
.posts-list-item > a {
  display: block;
  border-left: 0.75em solid rgb(41, 128, 185);
  background-color: rgba(41, 128, 185, 0.15);
  padding: 0.3em 0.5em;
  margin-bottom: 0.3em;
  font-size: 1.5em;
  color: rgb(58, 58, 58);
  text-decoration: none;
}
.posts-list-item > a:hover {
  border-color: rgb(39, 174, 96);
  background-color: rgba(39, 174, 96, 0.15);
}
.posts-list-item h4, .posts-list-item h5 {
  margin: 0 0 0.3em 0;
}
.posts-list-item aside {
  font-size: 0.6em;
}

#post header {
  margin: 0.5em 0;
  padding: 0.5em;
  border-left: 0.75em solid rgb(41, 128, 185);
  background-color: rgba(41, 128, 185, 0.15);
  font-size: 1.2em;
}
#post header > * {
  margin: 0.5em 0;
}

blockquote {
  background-color: rgb(240, 240, 240);
  margin: 0;
  padding: 0.7em;
}
blockquote p {
  margin: 0;
  padding: 0.75em 0;
  border-bottom: 1px solid rgba(58, 58, 58, 0.1);
}
blockquote p:last-of-type {
  border-bottom: none;
}
blockquote cite {
  display: block;
  text-align: right;
  font-style: italic;
  font-size: 0.9em;
}

button {
  padding: 0.2em;
  margin: 0.1em 0.05em;
  border: none;
  font-size: 1em;
  color: white;
  background-color: rgb(41, 128, 185);
  cursor: pointer;
}
button:hover {
  background-color: rgb(39, 174, 96);
}

.click-to-reveal.hidden {
  display: none;
}

footer {
  margin: 0 1em;
  padding-top: 0.3em;
  border-top: 0.2em solid rgb(41, 128, 185);
  text-align: center;
}
